<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/assets/css/app.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1><img src="public/assets/img/tfhlogo.gif" class="logo"> Self Bag Drop: <span class="subtitle">{% block subtitle %}{% endblock %}</span></h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-9">
                    {% block progress %}{% endblock %}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 control">
                    {% block control %}{% endblock %}
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
