{% extends "layout.html" %}
{% import "bootstrap.macro" as bs %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="desc">
        Geben Sie bitte Ihre Bordkartennummer und Postleitzahl ein.
    </div>

    <form class="form-horizontal center">
        {{ bs.input('Bordkartennummer', 'boardkartennummer', 'email') }}
        {{ bs.input('Postleitzahl', 'plz', 'password') }}
    </form>
{% endblock %}

{% block progress %}5{% endblock %}

{% block leftbutton %}
    <button type="submit" class="btn btn-default btn-lg btn-primary">Abbrechen</button>
{% endblock %}

{% block rightbutton %}
    <a href="/passengerDataConfirm" class="btn btn-default btn-lg btn-primary">OK</a>
{% endblock %}
