{% extends "layout.html" %}

{% block title %}Ihre Flugdaten{% endblock %}

{% block content %}
    <div class="desc">
        Überprüfen Sie die Angaben zu Ihrer Buchung, die auf dem Bildschirm erscheinen und drücken Sie auf OK wenn alle Angaben stimmen. Sollten die Angaben nicht übereinstimmen, drücken Sie auf <emph>Abbrechen</emph> und wenden sich an den Check-In Schalter Ihrer Airline.
    </div>

    <table class="table data-table">
        <tbody>
            <tr>
                <td>Flugnummer</td>
                <td>1234567890</td>
            </tr>
            <tr>
                <td>Name, Vorname</td>
                <td>Mustermann, Max</td>
            </tr>
            <tr>
                <td>Geburtsdatum</td>
                <td>09.09.1999</td>
            </tr>
            <tr>
                <td>Zielort</td>
                <td>Miami</td>
            </tr>
            <tr>
                <td>Abflugzeit</td>
                <td>12:40 Uhr</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block progress %}20{% endblock %}

{% block leftbutton %}
    <button type="submit" class="btn btn-default btn-lg btn-primary">Abbrechen</button>
{% endblock %}

{% block rightbutton %}
    <a href="/dropBaggage" class="btn btn-default btn-lg btn-primary">OK</a>
{% endblock %}
